node_modules
.env
coverage
coverage.json
typechain
typechain-types

artifacts/build-info
artifacts/hardhat
cache

package-lock.json


backend/node_modules
backend/.env
backend/coverage
backend/coverage.json
backend/typechain
backend/typechain-types

backend/artifacts/build-info
backend/artifacts/hardhat
backend/cache

backend/package-lock.json
